body{
            display:flex;
            background-color:aliceblue;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin:0;
}
.container{
            border:none;
            box-shadow: 1px 0px 20px rgba(22, 190, 56, 0.7);
            padding:15px;
            text-align: center;
            border-radius: 15px;
            width:400px;
            align-items: center;
        }
input{
            width:80%;
            height: 40px;
            border-radius: 10px;
            text-align:center;
        }
button{
            width:70px;
            height:29px;
            border-radius:7px;
            transition:transform 0.9s ease;
            font-weight:bold;
            font-size:larger;
            align-items:center;
            padding:2px 2px;;
            margin-top: 10px;
            margin-left: 10px;
        }
button:active{
            transform:scale(0.90);
            background-color: yellow;
        }