body{
            display:flex;
            background-color:aliceblue;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin:0;
}
.container{
            border:none;
            box-shadow: 1px 0px 20px rgba(22, 190, 56, 0.7);
            padding:15px;
            text-align: center;
            border-radius: 15px;
            width:400px;
            align-items: center;
        }
input{
            width:80%;
            height: 40px;
            border-radius: 10px;
            text-align:center;
        }
button{
            width:50%;
            height: 40px;
            border-radius: 10px;
            margin-top: 15px;
            background-color: lightgreen;
            border:none;
            font-size: 18px;
            cursor: pointer;
            transition: all 0.2s ease;
        }
button:active{
            transform:scale(0.90);
            background-color: yellow;
        }